<header>
    <div class="contenido">
        <div class="header-logo">
            {% include "componentes/logo.twig" %}
        </div>
        <div class="header-contenido">

        </div>
        <div class="header-opciones">
            {% if usuario() %}
                <div class="cerrar-sesion">
                    <p><i class="fas fa-user"></i> Bienvenid@ {{ usuario().nombre }}</p>
                    <a href="/logout">Cerrar Sesión</a>
                </div>
            {% else %}
                <a class="btn" href="/login">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
</header>

{%  if usuario().administrador %}
    <p>Adminsitrador</p>
{% endif %}