<header>
    <div class="contenido">
        <div class="header-logo">
            {% include "componentes/logo.twig" %}
        </div>
        <div class="header-contenido">

        </div>
        <div class="header-opciones">
            {% if usuario() %}
                <div class="cerrar-sesion">
                    <p><i class="fas fa-user"></i> Bienvenid@ {{ usuario().nombre }}</p>
                    <a href="{{ url("/logout") }}">Cerrar Sesión</a>
                </div>
            {% else %}
                <a class="btn" href="{{ url("/login") }}">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
</header>

{%  if usuario().administrador %}
    <div id="encabezado-admin">
        <div class="contenido">
            <ul>
                <li>
                    <a href="{{ url("/admin/nuevo-producto") }}"><i class="fas fa-plus"></i> Agregar Producto</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}





